* {
    margin: 0;
    padding: 0;
}

.timetable {  
    padding: 0.5vw 2vw; 
    display: grid;
    grid-template-columns: 0.8fr 0.4fr 0.7fr 0.7fr 0.7fr 0.7fr 0.5fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 1fr 0.7fr 0.7fr;
    grid-template-rows: max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-areas:
      "day form p1 p2 p3 p4 break p5 p6 p7 p8 p9 lunch p10 p11";
  }

  .timetable.head-row{
      padding-top: 2vw;
      padding-bottom: 0.5vw;
  }
  
  .day { grid-area: day; }
  
  .form { grid-area: form; }
  
  .p1 { grid-area: p1; }
  
  .p2 { grid-area: p2; }
  
  .p3 { grid-area: p3; }
  
  .p4 { grid-area: p4; }
  
  .break { grid-area: break; }
  
  .p5 { grid-area: p5; }
  
  .p6 { grid-area: p6; }
  
  .p7 { grid-area: p7; }
  
  .p8 { grid-area: p8; }
  
  .p9 { grid-area: p9; }
  
  .lunch { grid-area: lunch; }
  
  .p10 { grid-area: p10; }
  
  .p11 { grid-area: p11; }
  